<div class="m-content">
	<div class="row">		
			<p-toolbar>
					<div class="ui-toolbar-group-left">
						<button pButton type="button" label="New" icon="pi pi-plus"></button>
						<button pButton type="button" label="Upload" icon="pi pi-upload" class="ui-button-success"></button>								
						<i class="pi pi-bars"></i>							
						<p-splitButton label="Save" icon="pi pi-check" [model]="" styleClass="ui-button-warning"></p-splitButton>
					</div>						
					<div class="ui-toolbar-group-right">
						<button pButton type="button" icon="pi pi-search"></button>
						<button pButton type="button" icon="pi pi-calendar" class="ui-button-success"></button>
						<button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
					</div>
				</p-toolbar>
						
		<div class="col-lg-3">
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__body">
					<!-- CONTENIDO DEL PANEL -->
					<span class="m-widget1__number m--font-brand">
						<h2>+$17,800</h2>
					</span>
					Cantidad Neumaticos
				</div>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__body">
					<!-- CONTENIDO DEL PANEL -->
					<span class="m-widget1__number m--font-danger">
						<h2>+$800</h2>
					</span>
					Compra €
				</div>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__body">
					<!-- CONTENIDO DEL PANEL -->
					<span class="m-widget1__number m--font-success">
						<h2>{{ n }}</h2>
					</span>
					cosas blablablabla
				</div>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__body">
					<!-- CONTENIDO DEL PANEL -->
					<span class="m-widget1__number m--font-brand">
						<h2>+$99999</h2>
					</span>
					cosas blablablabla
				</div>
			</div>
		</div>

	</div>
	<br/>

	<!-- main -->
	<div class="row">
		<div class="col-lg-12">
				<div class="m-portlet m-portlet--tab">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="la la-gear"></i>
									</span>
									<h3 class="m-portlet__head-text">
										PRUEBA
									</h3>
								</div>
							</div>
						</div>
						<div class="m-portlet__body">							
													
						</div>
					</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<!-- Ancho col de panel -->
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Top Ventas por neumático
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="chartdiv1" style="height: 800px;"></div>
				</div>
			</div>
		</div>
		<!--end::Portlet-->
		<!--begin::Portlet-->
		<div class='col-lg-6'>
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Temporalidad de compras
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="chartdiv2" style="height: 500px; overflow: hidden; text-align: left;"></div>
				</div>
			</div>
			<!--end::Portlet-->
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Mix marca
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="chartdiv3" style="height: 325px;"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<!-- Ancho col de panel -->
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__body">
					<!-- CUERPO DE LA TABLA -->
					<div class="col-lg-12">
						<table class="table table-striped">
							<thead>
							  <tr>
								<th>Fecha</th>
								<th>NºAlbaran</th>
								<th>Cod.Serie</th>								
								<th>Articulo</th>
								<th>Cantidad</th>
								<th>Importe</th>
							  </tr>
							</thead>
							<tbody>
							  <tr *ngFor="let albaran of albaranes">
								<td>{{ albaran.fecha_bi }}</td>
								<td>{{ albaran.num_albaran }}</td>
								<td>{{ albaran.cod_serie_albaran }}</td>								
								<td>{{ albaran.des_articulo }}</td>
								<td>{{ albaran.cantidad_articulos }}</td>
								<td>{{ albaran.imp_neto_linea }}</td>
							  </tr>
							</tbody>
						  </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- NUEVO -->
