<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<p-fieldset #filtros legend="Filtros de datos" [toggleable]="true">	
				<div class="ui-g ui-fluid">
					<div class="ui-g-12 ui-md-2">
						<label>Fecha inicio</label><br/>
						<p-calendar [(ngModel)]="fecha1" [locale]="dateLocale" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
					</div>
					<div class="ui-g-12 ui-md-2">									
						<label>Fecha fin</label><br/>											
						<p-calendar [(ngModel)]="fecha2" [locale]="dateLocale" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar><br/>											
					</div>
					<div class="ui-g-12 ui-md-8"></div>	
					<div class="ui-g-12 ui-md-12">
						<label>Marcas neumaticos</label><br/>
						<p-multiSelect [options]="filtro1.datos" [(ngModel)]="filtro1.values" [style]="{'width':'60%'}"></p-multiSelect><br/>	
						<label for="name">Tipo</label><br/>
						<p-multiSelect [options]="filtro2.datos" [(ngModel)]="filtro2.values" [style]="{'width':'60%'}"></p-multiSelect><br/>
						<label for="name">Perfil</label><br/>
						<p-multiSelect [options]="filtro3.datos" [(ngModel)]="filtro3.values" [style]="{'width':'60%'}"></p-multiSelect><br/> 
						<label for="name">Radio</label><br/>
						<p-multiSelect [options]="filtro4.datos" [(ngModel)]="filtro4.values" [style]="{'width':'60%'}"></p-multiSelect><br/> 
						<label for="name">Ancho</label><br/>
						<p-multiSelect [options]="filtro5.datos" [(ngModel)]="filtro5.values" [style]="{'width':'60%'}"></p-multiSelect> 						
					</div>								
				</div>
				
				<div class="row">
					<div class="col-lg-4"></div>					
					<div class="col-lg-4"><br/><button pButton type="button" (click)="onFiltros()" icon="pi pi-check" label="Aplicar filtros"></button></div>
				</div>
			</p-fieldset>					
		</div>
	</div>
	<br/>
	<div class="row">											
		<div class="col-lg-3">
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__body">
					<!-- CONTENIDO DEL PANEL -->
					<span class="m-widget1__number m--font-brand">
						<h2>{{totales[0].cantidad_articulos | number }} neumaticos</h2>
					</span>
					Total neumaticos
				</div>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__body">
					<!-- CONTENIDO DEL PANEL -->
					<span class="m-widget1__number m--font-danger">
						<h2>{{totales[0].imp_total | number}} €</h2>
					</span>
					Total Compra €
				</div>
			</div>
		</div>
	</div>
	<br/>

	<!-- main -->
	<div class="row">
		<div class="col-lg-6">
			<!-- Ancho col de panel -->
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Top Ventas por neumático
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="chartdiv1" style="height: 800px;"></div>
				</div>
			</div>
		</div>
		<!--end::Portlet-->
		<!--begin::Portlet-->
		<div class='col-lg-6'>
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Temporalidad de compras
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="chartdiv2" style="height: 500px; overflow: hidden; text-align: left;"></div>
				</div>
			</div>
			<!--end::Portlet-->
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Mix marca
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="chartdiv3" style="height: 325px;"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<!-- Ancho col de panel -->
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__body">
					<!-- CUERPO DE LA TABLA -->
					<div class="col-lg-12">
						<table class="table table-striped">
							<thead>
							  <tr>
								<th>Fecha</th>
								<th>NºAlbaran</th>
								<th>Cod.Serie</th>								
								<th>Articulo</th>
								<th>Cantidad</th>
								<th>Importe</th>
							  </tr>
							</thead>
							<tbody>
							  <tr *ngFor="let albaran of albaranes">
								<td>{{ albaran.fecha_bi }}</td>
								<td>{{ albaran.num_albaran }}</td>
								<td>{{ albaran.cod_serie_albaran }}</td>								
								<td>{{ albaran.des_articulo }}</td>
								<td>{{ albaran.cantidad_articulos }}</td>
								<td>{{ albaran.imp_neto_linea }}</td>
							  </tr>
							</tbody>
						  </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- NUEVO -->
