<div class="m-content">
	<div class="row">
		<div class="col-lg-12">							
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<br/>
					<div class="col-lg-12 col-md-12 col-sm-12">
							<textarea id="editor1" class="form-control" data-provide="markdown" rows="10"  pInputTextarea [(ngModel)]="textoEditor">
								ajdfjadlf dasfj adlsfj adsf
							</textarea>
						</div>
				<!-- <p-editor [(ngModel)]="textoEditor" [style]="{'height':'320px'}"></p-editor> -->
				<div class="m-portlet__body">
					<p-toolbar>
							<div class="ui-toolbar-group-left">
								<button pButton type="button" label="New" icon="pi pi-plus"></button>
								<button pButton type="button" label="Upload" icon="pi pi-upload" class="ui-button-success"></button>								
								<i class="pi pi-bars"></i>							
								<p-splitButton label="Save" icon="pi pi-check" [model]="" styleClass="ui-button-warning"></p-splitButton>
							</div>						
							<div class="ui-toolbar-group-right">
								<button pButton type="button" icon="pi pi-search"></button>
								<button pButton type="button" icon="pi pi-calendar" class="ui-button-success"></button>
								<button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
							</div>
						</p-toolbar>
						<div data-provide="markdown-editable">
								<h3>This is some editable heading</h3>
								<p>Well, actually all contents within this "markdown-editable" context is really editable. Just click anywhere!</p>
					  </div>
				</div>				
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>

