<p-toast></p-toast>
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">							
			<!--begin::Portlet-->
			<!-- <div class="m-portlet m-portlet--tab">				
				<div class="m-portlet__body">
					 <p-toolbar>
							<div class="ui-toolbar-group-left">
								<button pButton type="button" label="New" icon="pi pi-plus"></button>
								<button pButton type="button" label="Upload" icon="pi pi-upload" class="ui-button-success"></button>								
								<i class="pi pi-bars"></i>							
								<p-splitButton label="Save" icon="pi pi-check" [model]="" styleClass="ui-button-warning"></p-splitButton>
							</div>						
							<div class="ui-toolbar-group-right">
								<button pButton type="button" icon="pi pi-search"></button>
								<button pButton type="button" icon="pi pi-calendar" class="ui-button-success"></button>
								<button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
							</div>
					</p-toolbar> 
				</div>				
			</div> -->
			<!--end::Portlet-->
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Diagrama del proceso
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<div class="btn-group" role="group" aria-label="Button group with nested dropdown">							
							<button type="button" class="m-btn btn btn-secondary" data-toggle="modal" data-target="#m_modal_5">
								<i class="pi pi-plus"></i>
							</button>																				
						</div>
					</div>
				</div>
				<div class="m-portlet__body" >
					<p-organizationChart *ngIf="filesTree[0].typeNodo !='table'" [value]="filesTree" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="onNodeSelect($event)"></p-organizationChart>
					<p-tree *ngIf="filesTree[0].typeNodo =='table'" [value]="filesTree" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="onNodeSelect($event)"></p-tree>				
				</div>
				
			</div>
			<!--end::Portlet--> 
		</div>
		<div class="col-lg-8">			
			<!-- <etl-stage *ngIf="filesTree[0].typeNodo=='table'"></etl-stage>
			<etl-phase *ngIf="typePhase.indexOf(filesTree[0].typeNodo) >= 0"></etl-phase>		 -->
			<router-outlet></router-outlet>
		</div>	
		<app-modal #modal1 (getModel)="getModelModal($event)" [name]="'modal1'" ></app-modal>		
		<app-modal #modal2 (getModel)="getModelModal($event)" [name]="'modal2'" ></app-modal>	
	</div>
</div>
<button type="button" (click)="showModal1()">
	open
</button>
<button type="button" (click)="showModal2()">
		open
	</button>
