<div class="m-content">			
	<div class="row">		
		<div class="col-lg-4">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-map-location"></i>
							</span>
							<h3 class="m-portlet__head-text">
								CM Ventas
							</h3>
						</div>
					</div>				
				</div>
				<div class="m-portlet__body">
					<img src="./assets/app/media/img/varios/dsh1.png" alt="">
				</div>
			</div>
			<!--end::Portlet-->
		</div>
		<div class="col-lg-4">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-map-location"></i>
							</span>
							<h3 class="m-portlet__head-text">
								CM Talleres
							</h3>
						</div>
					</div>				
				</div>
				<div class="m-portlet__body">
					<img src="./assets/app/media/img/varios/dsh2.png" alt="">
				</div>
			</div>
		</div>
		<!--end::Portlet-->
		<div class="col-lg-4">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-map-location"></i>
							</span>
							<h3 class="m-portlet__head-text">
								CM Clientes
							</h3>
						</div>
					</div>				
				</div>
				<div class="m-portlet__body">
					<img src="./assets/app/media/img/varios/dsh3.jpeg" alt="">
				</div>
			</div>
		</div>	
	</div>													
</div>
